* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /*-----TYPOGRAPHY-----*/
    /*--FONT SIZE--*/
    --text-sm: 12px;
    --text-base: 16px;
    --text-paragraph: 20px;
    --text-h5: 24px;
    --text-h4: 32px;
    --text-h3: 40px;
    --text-h2: 48px;
    --text-h1: 62px;
    /*--FONT WEIGHT--*/
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    /*--LINE HEIGHT--*/
    --line-height-tight: 1.2;
    --line-height-normal: 1.5;
    /*--LETTER SPACING--*/
    --letter-spacing-tight: -2px;
    /*--FONT FAMILYS--*/
    --font-family: "Poppins", sans-serif;

    /*-----COLOR-----*/
    --primary-base: #339af0;
    --primary-tint: #d0ebff;
    --primary-shade: #1c7ed6;
    --secondary-base: #9775fa;
    --secondary-tint: #e5dbff;
    --secondary-shade: #7048e0;
    --tertiary-base: #ff992b;
    --tertiary-tint: #ffe8cc;
    --tertiary-shade: #f76707;
    --grey-base: #495057;
    --grey-tint: #f1f3f5;
    --grey-shade: #212529;
    --white: #ffffff;
    --black: #000000;

    /*-----OTHER-----*/

}

html {
    font-size: 62.5%;
}

body {
    color: #495057;
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-normal);
    font-family: var(--font-family);
}

body ::selection {
    background-color: rgba(255, 77, 77, 0.2)
}

.wrap-main {
    /* background-color: rgb(69, 69, 77); */
    /* background: #000033; */
    /* background: rgb(0, 0, 51); */
    /* background: rgba(0, 0, 51,0.8); */
    /* background: url(./public/3d-rendering-money-tree.jpg); */
    /* background: url(https://eastmicro.com.kh/wp-content/uploads/2024/09/Slide-02.jpg.webp); */
    background-image: url("./public/giphy-galaxy.webp");
    display: flex;
    /* align-items: center; */
    max-width: 1200px;
    width: 90%;
    height: 550px;
    background-size: contain;

    /* font-weight: ; */

}

.wrap-main .logo {
    display: inline-block;
    margin: 30px 70px;
    width: 7%;
    height: 7%;
    cursor: pointer;


}


.navbar ul {
    display: flex;
    margin-left: 160px;
    column-gap: 6px;

}


.navbar ul li {

    /* margin-left: 180px; */
    margin-top: 37px;
    /* text-indent: 3px; */
    margin-left: 15px;

    list-style-type: none;


}

.navbar ul li a {

    /* letter-spacing: 1px; */
    color: rgb(250, 255, 252);
    /* color: red; */
    font-size: 16px;

    text-decoration: none;

}

.social-icon {
    display: flex;
    margin-top: 31px;
    /* column-gap: 15px; */
    align-items: center;
    justify-content: center;
    margin-left: 15px;

}

.social-icon .cambodian-flag {
    /* column-gap: 1px; */
    margin-left: 10px;
    width: 20px;
    height: 10px;
    cursor: pointer;

}

.KM {
    color: white;
    cursor: pointer;
}

.icon-for-3 {
    margin-left: 24px;





}

.icon-for-3 .fa-brands {


    margin-top: 31px;

    background: #13924a;
    padding: 10px;


    color: white;
    border-radius: 8px;

    cursor: pointer;



}

.wrap-main .title {
    /* background: red; */
    position: absolute;
    height: 100px;
    left: 550px;
    top: 330px;
    width: 200px;
    /* background-color: black; */
    color: white;
    /* margin: auto; */

}


.title h1 {
    margin: auto;

    font-size: 35px;
    width: 250px;
    text-align: center;
}

.title .btn {
    display: inline;
    width: 125px;
    height: 50px;
    margin-left: 55px;
    margin-right: 40px;
    margin-top: 30px;

    padding-left: 13px;
    padding-right: 13px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 15px;
    color: black;
    background: green;
    font-size: 16px;
    cursor: pointer;
    border: none;


}

.title .dot-run {
    display: flex;


}

.btn:hover {
    background-color: white;
    color: green;

}

.dot-run .btn-1 {
    width: 40px;
    height: 8px;
    margin-left: auto;
    /* margin-right: auto; */
    margin-top: 30px;
    /* justify-content: space-between; */
    border-radius: 5px;
    /* margin-left: 30px; */
    /* vertical-align: middle; */
}

.main-body {
    margin-top: 50px;
    margin: 30px 70px;
}

hr {
    width: 80px;
    height: 3px;
    background-color: green;
    margin-top: 100px;
}

.main-body h3 {
    margin-top: 30px;
}

.card-box {
    display: flex;
    width: 95%;
    margin: 30px 70px;
    column-gap: 25px;

}

.card-box .box {
    /* background: rgb(255, 255, 255); */
    background-color: lightgoldenrodyellow;
    width: 30%;
    height: 400px;
    border-bottom: 3px solid green;

}

.box {
    display: inline;
    text-align: center;

}

.box img {
    margin-top: 60px;
    /* margin-bottom: 20px; */

}

.para-box {
    /* font-family: "Roboto", serif; */
    font-size: 16px;
    text-align: center;
    line-height: 1.8;
    /* text-justify: unset; */
    /* margin-top: 20px; */
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;




}

.title-box {
    margin-bottom: 20px;

}

.box .btn-box {
    width: 130px;
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: lightgoldenrodyellow;
    font-size: 16px;
    cursor: pointer;
}


.box:hover>[class="title-box"] {

    color: green;

}

.box:hover>[class="btn-box"] {
    background-color: green;
    color: white;
}

.hr-2 {
    width: 80px;
    height: 3px;
    background-color: green;
    /* margin-top: 100px; */
    margin: 30px 70px;
}

.hr-2-h1 {

    margin: 30px 70px;
    color: red;
}

.card-box-2 {
    display: flex;
    width: 95%;
    margin: 30px 70px;
    column-gap: 25px;


    margin-top: 50px;

}

.card-box-2 {
    display: flex;
    width: 95%;
    margin: 30px 70px;
    column-gap: 25px;

}

.box-in-cardbox-2 {
    /* background: rgb(255, 255, 255); */
    background-color: lightgoldenrodyellow;
    width: 22%;
    height: 270px;


    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

}


.box-in-cardbox-2 .fa-solid {

    font-size: 40px;
    background: rgba(128, 128, 128, .5);
    border-radius: 50%;
    padding: 25px 25px;

}

.box-in-cardbox-2:hover {
    border: 2px solid green;
}


.box-in-cardbox-2:hover>[class="fa-solid fa-landmark"] {
    background: green;

}

.box-in-cardbox-2:hover>[class="fa-solid fa-sack-dollar"] {
    background: green;
}

.box-in-cardbox-2:hover>[class="fa-solid fa-user-group"] {
    background: green;
}

.box-in-cardbox-2:hover>[class="fa-solid fa-hand-holding-dollar"] {
    background: green;
}


.title-cardbox-2 {
    /* margin-top: 15px; */
    margin: 15px 0 0 0;
}

.para-box-2 {
    /* margin-top: 15px; */
    margin: 15px 0 0 0;
}

.card-box-3 {
    background: #efefef;
    display: flex;
    width: 100%;
    height: 400px;
    margin: 100px 0 0 0;
    column-gap: 25px;
}